<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/product"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ product?.name }}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDelete(product?._id)">
        <ion-icon name="trash" slot="end"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <app-product-item [productItem]="product"></app-product-item>
</ion-content>
